*.a
*.o
run-SIRlib
Makefile
CMakeCache.txt
CMakeFiles/
CTestTestFile.cmake
cmake_install.cmake
install_manifest.txt
.DS_store
Test
SIRsim
*.dSym
/.vs
/Debug
SerialSIRsim
ParallelSIRsim
/SIRlib/.vs/SIRlib/v15/Solution.VC.db-wal
/SIRlib/.vs/SIRlib/v15/Solution.VC.db-shm
/SIRlib/.vs/SIRlib/v15/Solution.VC.db
/SIRlib/.vs/SIRlib/v15/ipch/AutoPCH/SIRLIB-e2f8dabc/SIRLIB-4133dd73/SIRLIB.ipch
/SIRlib/.vs/SIRlib/v15/ipch/AutoPCH/SIRLIB-e2f8dabc/SIRLIB-4133dd73
/SIRlib/.vs/SIRlib/v15/Browse.VC.opendb
/SIRlib/.vs/SIRlib/v15/Browse.VC.db
/SIRlib/.vs/SIRlib/v15/.suo
/SIRlib/.vs/SIRlib/v15
/Win32/Debug/ZERO_CHECK/ZERO_CHECK.log
/Win32/Debug/ZERO_CHECK
/Win32/Debug/INSTALL/INSTALL.log
/Win32/Debug/INSTALL
/Win32/Debug
/SIRlib/ZERO_CHECK.vcxproj.filters
/SIRlib/ZERO_CHECK.vcxproj
/SIRlib/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
/SIRlib/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
/SIRlib/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
/SIRlib/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
/SIRlib/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog
/SIRlib/Win32/Debug/INSTALL/INSTALL.tlog/INSTALL.lastbuildstate
/SIRlib/Win32/Debug/INSTALL/INSTALL.tlog/custombuild.write.1.tlog
/SIRlib/Win32/Debug/INSTALL/INSTALL.tlog/custombuild.read.1.tlog
/SIRlib/Win32/Debug/INSTALL/INSTALL.tlog/custombuild.command.1.tlog
/SIRlib/Win32/Debug/INSTALL/INSTALL.tlog
/SIRlib/Win32/Debug/ALL_BUILD/ALL_BUILD.tlog/custombuild.write.1.tlog
/SIRlib/Win32/Debug/ALL_BUILD/ALL_BUILD.tlog/custombuild.read.1.tlog
/SIRlib/Win32/Debug/ALL_BUILD/ALL_BUILD.tlog/custombuild.command.1.tlog
/SIRlib/Win32/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
/SIRlib/Win32/Debug/ALL_BUILD/ALL_BUILD.tlog
/SIRlib/Win32/Debug/ALL_BUILD/ALL_BUILD.log
/SIRlib/Win32/Debug/ALL_BUILD
/SIRlib/Win32/Debug
/SIRlib/tests/Test.vcxproj.filters
/SIRlib/tests/Test.vcxproj
/SIRlib/tests/Test.dir/Debug/vc141.pdb
/SIRlib/tests/Test.dir/Debug/tests-main.obj
/SIRlib/tests/Test.dir/Debug/Test.tlog/unsuccessfulbuild
/SIRlib/tests/Test.dir/Debug/Test.tlog/Test.lastbuildstate
/SIRlib/tests/Test.dir/Debug/Test.tlog/custombuild.write.1.tlog
/SIRlib/tests/Test.dir/Debug/Test.tlog/custombuild.read.1.tlog
/SIRlib/tests/Test.dir/Debug/Test.tlog/custombuild.command.1.tlog
/SIRlib/tests/Test.dir/Debug/Test.tlog/CL.write.1.tlog
/SIRlib/tests/Test.dir/Debug/Test.tlog/CL.read.1.tlog
/SIRlib/tests/Test.dir/Debug/Test.tlog/CL.command.1.tlog
/SIRlib/tests/Test.dir/Debug/Test.tlog
/SIRlib/tests/Test.dir/Debug
/SIRlib/tests/RUN_TESTS.vcxproj.filters
/SIRlib/tests/RUN_TESTS.vcxproj
/SIRlib/tests/INSTALL.vcxproj.filters
/SIRlib/tests/INSTALL.vcxproj
/SIRlib/tests
/SIRlib/Test.dir/Debug/Test.log
/SIRlib/Test.dir/Debug
/SIRlib/src/SIRlib.vcxproj.filters
/SIRlib/src/SIRlib.vcxproj
/SIRlib/src/SIRlib.dir/Debug/SIRlib.tlog/SIRlib.lastbuildstate
/SIRlib/src/SIRlib.dir/Debug/SIRlib.tlog/Lib.command.1.tlog
/SIRlib/src/SIRlib.dir/Debug/SIRlib.tlog/Lib-link.write.1.tlog
/SIRlib/src/SIRlib.dir/Debug/SIRlib.tlog/Lib-link.read.1.tlog
/SIRlib/src/SIRlib.dir/Debug/SIRlib.tlog/custombuild.write.1.tlog
/SIRlib/src/SIRlib.dir/Debug/SIRlib.tlog/custombuild.read.1.tlog
/SIRlib/src/SIRlib.dir/Debug/SIRlib.tlog/custombuild.command.1.tlog
/SIRlib/src/SIRlib.dir/Debug/SIRlib.tlog/CL.write.1.tlog
/SIRlib/src/SIRlib.dir/Debug/SIRlib.tlog/CL.read.1.tlog
/SIRlib/src/SIRlib.dir/Debug/SIRlib.tlog/CL.command.1.tlog
/SIRlib/src/SIRlib.dir/Debug/SIRlib.tlog
/SIRlib/src/SIRlib.dir/Debug/SIRlib.pdb
/SIRlib/src/SIRlib.dir/Debug/SIRlib.obj
/SIRlib/src/SIRlib.dir/Debug
/SIRlib/src/RUN_TESTS.vcxproj.filters
/SIRlib/src/RUN_TESTS.vcxproj
/SIRlib/src/INSTALL.vcxproj.filters
/SIRlib/src/INSTALL.vcxproj
/SIRlib/src/Debug/SIRlib.pdb
/SIRlib/src/Debug/SIRlib.lib
/SIRlib/src/Debug
/SIRlib/src
/SIRlib/SIRlib.sln
/SIRlib/SIRlib.dir/Debug/SIRlib.log
/SIRlib/SIRlib.dir/Debug
/SIRlib/RUN_TESTS.vcxproj.filters
/SIRlib/RUN_TESTS.vcxproj
/SIRlib/INSTALL.vcxproj.filters
/SIRlib/INSTALL.vcxproj
/SIRlib/ALL_BUILD.vcxproj.filters
/SIRlib/ALL_BUILD.vcxproj
